* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.nav-boven {
    flex: 1; 
    text-align: center;
    padding: 15px;
    margin: 0 5px;
}

img {
    flex: 1;
    width: 10%;
    height: 75px;
}

li{
    list-style: none;
    font-size: 14pt;
    display: inline;
    margin-right: 15px;
}

a{
    text-decoration: none;
    color: white; /* Kleur naar wit veranderd volgens commit NAV-03 */  
}

.inlog a{
    color: black;
}

.inlog{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: red;
    border: 1px red solid;
    border-radius: 20px;
}

.hero_new__video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    object-fit: cover; 
    z-index: 1; 
}